.App {
  text-align: center;
  display: flex;
}

#messages {
  flex-grow: 1;
  min-width: auto;
}

a {
  text-decoration: none;
}
<<<<<<< HEAD

.profile {
  display: flex;
  flex-direction: column;
}
=======
<<<<<<< HEAD
=======

h3 {
  display: flex;
  flex-direction: column;
}
>>>>>>> lesson5
>>>>>>> main
